@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

:root {
    --brand: #979797;
    --dark: #000000;
    --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

body {
    font-family: "Barlow", sans-serif;
    color: var(--body);
    line-height: 1.7;
    overflow-x:hidden ;
}


.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 100%;
}

a {
    color: var(--dark);
    transition: all 0.4s ease;
    font-weight: 500;
}

a:hover {
    color: var(--brand);
}

section {
    padding-top: 10px;
    padding-bottom: 10px;
}


.hero-slider .owl-prev,
.hero-slider .owl-next{
    background-color: rgba(255, 255, 255, 0.3) !important;
    width: 60px !important;
    height: 60px !important;
    display: block;
    display: grid;
    place-items: center;
    color: #fff !important;
    border-radius: 100px;
    line-height: 0;
    border-radius: 100px !important;
    position: absolute;
    top: 50%;
    font-weight: 600 !important;
    font-size: 12px !important;
    transition: all 0.4s ease;
    margin-top: -30px !important;
}

.owl-prev {
    left: 0;
}
.owl-next {
    right: 0;
}

.hero-slider .owl-prev:hover,
.hero-slider .owl-next:hover {
    background-color: var(--brand) !important; 
}

.container{
    padding: 0;
    margin-top: 0;
}

 /* slide */
 .slide {
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
}

.slide1 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/Homebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slide2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/homebg2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



/* navbar */

.navbar .navbar-nav .nav-link {
    color: var(--dark);
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--brand);
}

.navbar .navbar-nav .nav-link.active {
    color: var(--brand);
}

.navbar-brand {
    padding: 10px;
    width:80px;
}
.navbar-brand img{
    width: 90%;
}
.btn {
    padding: 15px 30px;
    border-radius: 0;
    margin: 2px;
}

.btn-brand {
    background-color:white;
    color: #000000;
}

.btn-brand:hover {
    background-color: #323232;
    border: 0;
    color: #fff;
}

/* Section 2 */

.info-box {
    color: #000000;
    align-items: center;
    padding-top: 20px;
}
.info-box h1{
    font-size: 3em;
}

/* Section 3  */
.container h2{
    padding: 30px;
    font-size: 2.5em;
    color: #000000;
}
.service {
    padding: 0px;
    box-shadow: 2px 2px 10px;
}

.service img {
    width: 100%;
    object-fit: cover;
}

/* section carss  */
.img-card{
    position: relative;
    max-width: 100%;
    height:250px;
    border-radius: 10px;
    box-shadow:var(--box-shadow);
    overflow: hidden;
    cursor: pointer;
}


.img-card .info{
    z-index: 777;
    position: absolute;
    top: 0;
    left:0;
    margin:20px;
    color:#393939;
    transform: translateY(20px);
    opacity: 0;
    transition: .5s ease;
}

.img-card:hover .info{
    transform:translateY(0);
    opacity: 1;
} 

.img-card:hover .info h3{
    font-size:2em;
}
.img-card:hover .info span{
    font-size:1.2em;
}

.img-card img{
    width:100%;
    object-fit:cover;
}
.img-card img:hover{
    transform: scale(1.1) ;
    transition: .9s ease;
}
.cardetails{
    z-index: 999999;
    position:fixed;
    height:100%;
    width:100%;
    top:0;
    left:0;
    background: var(--bg-transparent-color);
    backdrop-filter:blur(10px);
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
}

.cardetails.active{
    visibility: visible;
    opacity: 1;
}

.carddetails-body{
    position:sticky;
    background: #262626;
    color: #fff;
    max-width: 600px;
    margin:20px;
    padding:40px;
    border-radius:10px;
    box-shadow: var(--box-shadow);
    transform: translateY(-50px);
    transition: .5s ease;
}
.carddetails-body h3{
    font-size: 4em;
}

.cardetails.active .carddetails-body{
    transform: translateY(0);
}

.details-close-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin:20px;
    cursor: pointer;
    color: #fff;
}

/*========== etron======== */
.container-fluid{
    background: #9b9b9b;
    padding: 10px;
}

.container-fluid h1{
    padding-left: 20px;
    color: #fff;
    
}
.cards{
    position: relative;
    object-fit: cover;
}
.cards img{
    position: relative;
    z-index: 0;
}
.card-info{
    z-index: 777;
    position: absolute;
    top: 0;
    left:0;
    margin:30px;
    color:#fff
}
.card-info2 {
    z-index: 777;
    position: absolute;
    bottom: 0;
    left:0;
    padding: 50px;
}

.card-info h1{
  font-size: 2.5em;
}
.card-info p{
    font-size: 1.1em;
    font-weight: 500;
}
/* ======footer===== */
footer{
    width: 100%;
    height: 460px;
    background: #000000;
    padding: 10px;
    color: #fff;
}
footer ul{
    list-style:none;
    display: flex;
}
footer .footer-icons ul li{
    width: 20px;
    color: inherit;
    color: #fff;
}
footer .copy ul li{
    font-size: 13px;
    padding: 10px;
}

footer .copy p{
    font-size: 13px ;
}

@media only screen and (max-width: 600px) {
    body{
        overflow-x: hidden;
    }

    .navbar{
        width: 100%;
    }

    
    .info{
        padding: 50px;
    }
    .info h1{
        font-size: 1.6em;
    }
    .info a{
        font-size: 1em;
    }
    .container{
        padding-left:10px ;
    }
}